@media (max-width: 425px),
(max-height: 425px) and (max-width: 896px) and (orientation: landscape) {
    #onetrust-pc-sdk.otPcTab .group-toggle {
        float: right;
        margin-left: 10px;
        width: auto;
        position: absolute;
        top: -16%;
        left: 56%;
    }

    #onetrust-pc-sdk .always-active {
        width: 100px;
        left: 25px;
        position: absolute;
    }
}

@media only screen and (min-height: 425px) and (min-width: 896px) {
    #onetrust-pc-sdk .button-group-parent:before {
        content: '* Opt out of all the cookie categories, except Strictly Necessary Cookies and Functional Cookies \A ** Opt into all the cookies categories';
        color: #696969;
        text-align: left;
        font-size: .82em;
        line-height: 1.3;
        position: absolute;
        bottom: 55px;
        left: 5px;
        right: 0;
        display: block;
        white-space: pre-wrap;
    }

    #onetrust-pc-sdk .button-group {
        padding-top: 15px;
    }

    #onetrust-pc-sdk>div.button-group-parent>div.footer-logo {
        position: absolute;
        top: 540px;
        left: 10px;
    }

    #onetrust-pc-sdk #accept-recommended-btn-handler {
        visibility: none;
    }

    #onetrust-pc-sdk #accept-recommended-btn-handler:after {
        visibility: visible;
        content: " **";
    }

    #onetrust-pc-sdk>div.button-group-parent>div.button-group>button.ot-pc-refuse-all-handler {
        visibility: none;
    }

    #onetrust-pc-sdk>div.button-group-parent>div.button-group>button.ot-pc-refuse-all-handler:after {
        visibility: visible;
        content: " *";
    }
}

#onetrust-pc-sdk .description-container h3 {
    float: left;
    margin: 0;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3;
    max-width: 85%;
    min-width: 75%;
    top: 3px;
}

#onetrust-pc-sdk .group-toggle .toggle-group {
    float: left;
    width: 25%;
}

#onetrust-pc-sdk .group-toggle .toggle {
    background-color: #fff;
    position: relative;
    display: inline-block;
    height: 20px;
    float: left;
}

#onetrust-pc-sdk .checkbox label {
    background: #000000;
    border: none;
    height: 23px;
    width: 35px;
    display: inline-block;
    border-radius: 46px;
    transition: .4s;
    position: absolute;
    cursor: pointer;
    left: 17px;
    right: 0;
    bottom: -6px;
    text-indent: 45px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

#onetrust-pc-sdk .checkbox label::before {
    content: "Inactive";
    color: #696969;
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
}

#onetrust-pc-sdk .toggle .checkbox input:checked+label::before {
    content: "Active";
    color: #00857C;
    top: 4px;
}

#onetrust-pc-sdk .group-toggle .toggle-group .checkbox input[type=checkbox]:focus+label::before,
#onetrust-pc-sdk .checkbox input:focus+label::after,
#onetrust-pc-sdk .description-container:focus,
#onetrust-pc-sdk .category-menu-switch-handler:focus {
    outline: none;
}

#onetrust-pc-sdk .checkbox label:after {
    left: 1px;
    top: 1px;
    background: #ffffff;
}

#onetrust-pc-sdk .toggle .checkbox input:checked+label {
    background: #6cc04a;
}

#onetrust-pc-sdk .toggle .checkbox input:checked+label:after {
    background: #f5efeb;
    left: 13px;
}

#onetrust-consent-sdk #onetrust-pc-sdk #pc-title {
    color: #00857C;
}

#onetrust-consent-sdk #onetrust-pc-sdk h3 {
    color: #00756C;
}